Click==7.0
elasticsearch==6.3.1
Flask==1.0.2
Flask-Script==2.0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
urllib3==1.23
Werkzeug==0.14.1

gunicorn==19.7.1
idna==2.5

certifi==2022.12.7

ipaddress==1.0.18